<a href="/packages" class="add-package">
  <i class="fas fa-arrow-left mt-3 ml-4"></i>
</a>
<div class="container bg-light rounded-10 pb-5 min-vh-100">
  <h1 class="py-3">These are all your bookings</h1>
    <div class="row">
      <% @bookings.each do |booking| %>
      <div class="col-lg-6">
       <%= link_to package_path(booking.package), class:"product-card" do %>
       <div class="card-product">
        <% if booking.package.photos.attached? %>
        <%= cl_image_tag booking.package.photos.first.key, class:"card-img"%>
        <% end %>
        <div class="card-product-infos">
          <h2><%= booking.package.name %></h2>
          <p>You booked this package from <%= booking.start_date %> until: <%= booking.end_date %></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>


